<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Arbitrage</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='bull.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-video">
        <video autoplay muted loop id="backgroundVideo">
            <source src="{{ url_for('static', filename='galaxy.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <nav class="navbar">
        <div class="nav-content">
            <h1>Index Arbitrage Dashboard</h1>
            <a class="button" href="https://github.com/jhoward39/IndexArbitrage/blob/main/README.md" target="_blank">README</a>
        </div>
    </nav>
    <div class="content">
        <table class="toggletable">
            <thead>
                <tr>
                    <th>Stock(s) That Might Be Removed From the S&P 500</th>
                    <th>Marketcap</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks_in_danger %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ "${:,.2f}".format(stock.marketcap) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Display the list of stocks that could be added -->
    
        <table class="toggletable">
            <thead>
                <tr>
                    <th>Stock(s) That Might Be Added To The S&P 500</th>
                    <th>Marketcap</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks_to_add %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>{{ "${:,.2f}".format(stock.marketcap) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="showAllButton">Show All</button>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const tables = document.querySelectorAll('.toggletable');
                const changeStateButton = document.getElementById('showAllButton');
                let isExpanded = false
                function toggleState() {
                    tables.forEach(table => {
                        table.classList.toggle('active', !isExpanded);
                    });

                    changeStateButton.textContent = isExpanded ? 'Show More' : 'Show Less';
                    isExpanded = !isExpanded;
                }

                // Add a click event listener to the button
                changeStateButton.addEventListener('click', toggleState);
            });
        </script>
        <!-- Disclaimer -->
    </div>
    <div class="bottom-bar">
        <p>&copy; Joseph Howard</p>
        <p>** Not Investment Advice **</p>
    </div>
</body>
</html>