<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joseph Howard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-video">
        <video autoplay muted loop id="backgroundVideo">
            <source src="{{ url_for('static', filename='galaxy.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <nav class="navbar">
        <div class="nav-content">
            <h1>Index Arbitrage Dashboard</h1>
            <a class="button" href="https://github.com/jhoward39/IndexArbitrage/blob/main/README.md" target="_blank">README</a>
        </div>
    </nav>

    <p class="last_updated">Last Updated: {{ last_updated }}</p>
    <div class="content">
        <table class="possible_removals">
            <thead>
                <tr>
                    <th>Stock(s) That Might Be Removed From the S&P 500</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks_in_danger %}
                <tr>
                    <td>{{ stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Display the list of stocks that could be added -->
    
        <table class="possible_additions">
            <thead>
                <tr>
                    <th>Stock(s) That Might Be Added To The S&P 500</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks_to_add %}
                <tr>
                    <td>{{ stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <!-- Disclaimer -->
    </div>
    <p class="disclaimer">**This is not investment advice**</p>
</body>
</html>